/Datasets/DIV2K_train_HR/
/Datasets/DIV2K_train_LR_bicubic/
/Datasets/DIV2K_train_LR_bicubic-2/
/Datasets/DIV2K_train_LR_bicubic-3/
/Datasets/DIV2K_train_LR_unknown/
/Datasets/DIV2K_train_LR_unknown-2/
/Datasets/DIV2K_train_LR_unknown-3/
/Datasets/DIV2K_valid_HR/
/Datasets/DIV2K_valid_LR_bicubic/
/Datasets/DIV2K_valid_LR_bicubic-2/
/Datasets/DIV2K_valid_LR_bicubic-3/
/Datasets/DIV2K_valid_LR_unknown/
/Datasets/DIV2K_valid_LR_unknown-2/
/Datasets/DIV2K_valid_LR_unknown-3/
/Datasets/
